/* General Styles */
.help-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.help-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.help-title {
  font-size: 2.5rem;
  color: #FF4D02;
}

.help-dark-mode-toggle {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #FF4D02;
  color: #fff;
  cursor: pointer;
}

.help-dark-mode-toggle:hover {
  background-color: #9e3406;
}

/* Navigation */
.help-navigation {
  position: sticky;
  top: 20px;
  background: #ffdacb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius:  4rem; 
}

.help-search {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 3rem;
}
.help-search:focus {
  outline: none;
  border-color: #FF4D02;
  box-shadow: 0 0 5px rgba(255, 77, 2, 0.3);
}

.help-search:hover {
  border-color: #FF4D02;
  box-shadow: 0 0 5px rgba(255, 77, 2, 0.3);
}

.help-nav-link {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.help-nav-link:hover {
  text-decoration: underline;
}

.help-highlight {
  background-color: #ffff00;
}

/* Content */
.help-content {
  animation: help-fadeIn 1s ease-in-out;
}

.help-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.help-card:hover {
  transform: scale(1.02);
}

.help-subtitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.help-icon {
  margin-right: 10px;
  color: #007bff;
}

/* Dark Mode */
.help-dark-mode {
  background-color: #1c1c1c;
  color: #f8f9fa;
}

.help-dark-mode .help-card {
  background-color: #2c2c2c;
  color: #f8f9fa;
}

.help-dark-mode .help-nav-link {
  color: #9cccff;
}

.help-dark-mode .help-nav-link:hover {
  color: #fff;
}

/* Buttons */
.help-button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.help-button:hover {
  background-color: #FF4D02;
  color: white;
}

/* Animation */
@keyframes help-fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .help-title {
    font-size: 2rem;
  }
  .help-card {
    padding: 15px;
  }

  .help-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .help-navigation {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .help-nav-link {
    font-size: 14px;
  }

  .help-dark-mode-toggle {
    width: 100%;
    margin-top: 10px;
  }
}

.help-icon {
  margin-right: 10px;
  color: #ff5722; /* เปลี่ยนสีไอคอนที่นี่ */
}

